.page-container {
    height: 600px;
    width: 960px;
    /* border: 1px solid black; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px #c9c9c9;
    overflow: hidden;
  }
  .page-container .wrapper {
    /* border-radius: 8px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3f7f9;
    filter: blur(60px);
    opacity: .8;
    z-index: -1;
  }
  .page-container .left {
    background-color: rgba(243, 247, 249, .6);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    /* border: 1px solid red; */
  }
  .page-container .right {
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;
    bottom: 10%;
    /* border: 1px solid pink; */
    background-color: #ffffff;
  }
  .page-container .controller {
    background-color: rgba(243, 247, 249, .6);
    position: fixed;
    top: 90%;
    bottom: 0;
    left: 20%;
    right: 0;
    /* border: salmon solid 1px; */
  }
  .search-banner {
    margin: 30px 50px;
  }
  .search-banner .search-input{
    outline: none;
    border: 1px solid #f3f7f9;
    border-radius: 10px;
    padding: 5px;
  }
  .btn {
    background-color: transparent;
    border: steelblue; 
    color: #f3f7f9;
    outline: none;
    cursor: pointer;
  }
  .btn:hover {
    color: #243d6f;
  }
  .right .result {
      margin-left: 10px;
  }